[Unit]
Description=Mount mnt music
After=network.target

[Mount]
What=curlftpfs#$FTP_MUSIC_FOLDER
Where=/mnt/music
Type=fuse
Options=rw,nosuid,allow_other,user=$FTP_USERNAME:$FTP_PASSWORD

[Install]
WantedBy=multi-user.target
